:root {
  /* These size variables are related A = B + C + 2D */
  --sidebar-width: 300px;
  --media-entry-height: 75px;
  --media-entry-twidth: 210px;
  --media-entry-tpadding: 5px;
  
  --colour-palette0: #654082;
  --colour-palette1: #553072;
  --colour-palette2: #403075;
  --colour-palette3: #302665;
  
  --colour-palette4: #efefef;
  
  --colour-palette7: #dddddd;
  --colour-palette8: #bbbbbb;
  
  --selinst-img-size: 300px;
}

html,body {
    height: 100%;
    margin:0;
    padding:0;
}

/*****************************************/
/* 				Header		 			 */
/*****************************************/

#header {
	position: absolute;
    flex: 0 0 100px; /* No shrink or grow */
    order: 1;
    background-color: var(--colour-palette0);
    color:white;
    text-align:center;
	width: 100%;
	top: 0px;
	height: 48px;
}

#header ul {
    margin: 0px;
}

#header li {
    color: #CDC7A6;
    background-color: var(--colour-palette0);
	
	/* line-height: 1px; */
	border-left: 1px solid #000; 
	border-right: 1px solid #000; 
	/* height: 47px; */
    text-align: center;
    display: block;
    padding: 0px;
    float: left;
    width: 220px;
}

#header li:hover {
    background-color: var(--colour-palette1);
    color: #876F00;
	
	cursor: pointer;
}

#header a {
    text-decoration: none;
	font: 18px/21px Arial;
    height: 48px;
    line-height: 48px;
}

/*****************************************/
/* 				Sidebar		 			 */
/*****************************************/

#sidebar {
	position: absolute;
	display: block;
	
	top: 48px;
	bottom: 0px;
	height: auto;
	width: var(--sidebar-width);
	background-color: var(--colour-palette2);
}

.flex-container {
	height: var(--media-entry-height);
	cursor: pointer;
	margin: 2px 0px;
	background-color: var(--colour-palette2);
}

.flex-container:hover {
	background-color: var(--colour-palette3);
}

.preview-text {
	position: relative;
	width: var(--media-entry-twidth);
	padding: var(--media-entry-tpadding);
	
	font: bold 15px/18px Arial;
	
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	vertical-align: middle;
	display: inline-block;
}

.preview-img {
	position: relative;
	width: var(--media-entry-height);
	height: var(--media-entry-height);
	vertical-align: middle;
	display: inline-block;
}

/*****************************************/
/* 				Main		 			 */
/*****************************************/
#instance {
	position: absolute;
	margin-top: 48px;
	left: var(--sidebar-width);
    /* min-height: 100%; */
	/* width: 100%; */
	overflow: auto;
    /* overflow-x: hidden; */
}

#selinst-name {
	margin-left: 50px;
	font: bold 25px/30px Arial;
}

#selinst-img {
	width: var(--selinst-img-size);
	height: var(--selinst-img-size);
	outline: 4px solid black;
	margin-left: 50px;
	margin-right: auto;
	display: block;
}


.mediarank-btn-container li:hover {
    background-color: var(--colour-palette8);
    color: #000000; /*#876F00;*/
	cursor: pointer;
}

.mediarank-btn-container {
    width: 500px;
}

.mediarank-btn-container li {
	color: #000000; /*#CDC7A6;*/
    background-color: var(--colour-palette7);
    text-align: center;
    display: block;
    padding: 0px;
	padding-right: 5px;
    float: left;
    width: 100px;
	font: bold 16px/20px Arial;
}

.mediarank-btn-container a {
    text-decoration: none;
    height: 48px;
    line-height: 48px;
	color: #000000;
}
